#Open {
	border-radius: 35%;
	background-color: #326eb2;
	color: #ffffff;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 40px;
}

.dialog {
	background-color: black;
    display: none;
    border-color: #9a998f;
    border-width: 10px;
}

.Text {
    height: 40%;
    width: 80%;
    font-family: Brush Script MT, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 30px;
	background-color: #cdc1c5;
	color: #326eb2;
}

.Option {
	color: #326eb2;
	font-size: 30px;
	height: 40px;
	width: auto;
	background-color: #cdc1c5;
}
}

#Pop {
	max-height: 80%;
	width: auto;
}

.Option.onclick {
  visibility: hidden;
}

#Topper {
	text-decoration: underline;
	background-color: #9a998f;
}

#Cancel {
	background-color: #cdc1c5;
}

#Cancel.hover {
	text-decoration: underline;
}